/* Navbar and body setup */
body {	
	/* Enforces font on the entire page, colored black by default
	   Makes background off-white slightly to improve visibility with gray font */
	font-family: 'Raleway', sans-serif;
	color: black;
	background-color: #FEFFFA;
	min-width: 1200px;
	max-width: 1200px;
	overflow-x:hidden;
	margin-left: auto;
	margin-right: auto;
}

/* Navbar */
nav {
	min-width: 1150px;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    line-height: 0px;
    font-size: 10pt;
    display: block;
    background: #d8d8d8;
    width: 100%;
	transition: all .5s ease;
} 

/* animation when mouse is over Navbar */
nav:hover {
	transition: all .5s ease;
	opacity: 1.0;
	font-size: 20pt;
	line-height: 10px;
}

nav a {
	text-decoration: none;
	color: black;
}

nav ul {	
	list-style: none;
	text-align: center;
}

nav ul li {
	display: inline;
	margin-right: 40px;
}

/* Logo */
#img-logo {
	width: 150px;
	float: left;
	position: fixed;
	margin-top: 12px;
	margin-left: 65px;
	opacity: 0;
}

/* iGEM logo */
#img-igemlogo {
	width: 60px;
	float: right;
	position: fixed;
	margin-top: 10px;
	opacity: 0;
}

/* Permanent bottom bar */
#bot-nav {
    background: #d8d8d8;
    position: absolute;
    width: 100%;
    height: 75px;
    left: 0;
    margin-top: 20px;
}

#bot-nav ul {
	margin-top: 25px;
	list-style: none;
	text-align: center;
}

#bot-nav li {
	display: inline;
	font-size: 20pt;
	color: black;
}

#bot-nav a {
	display: inline-block;
	vertical-align: middle;
	margin-top: -5px;
	text-decoration: none;
	font-size: 12pt;
	color: black;
}

/* Start Page Specific CSS */

h1 {							/* Centers the heading text on the page at different sizes 		*/
	color: white;				/* makes the text centered and white to contrast background img */
	font-size: 56pt;
	font-weight: 200;
	text-align: center;
}

h2 {
	color: white;
	font-size: 28pt;
	font-weight: 200;
	text-align: center;
}

h3 {
	color: white;
	font-size: 20pt;
	font-weight: 400;
	text-align: center;
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.imageEmbed {
	/* creates border around image on each page */
	border-style: solid;
	margin-top: 50px;
	margin-bottom: 50px;
	border-color: #A8A8A8;
	border-width: 2px;
}


/* fixes width of each image and makes it centered in between the text */
#img-antibiotic, #img-growth, #img-rfp, #img-seq, #img-oyster {
	width: 600px;
	margin-left: 210px;
}

#img-diagram {
	width: 800px;
	margin-left: 110px;
}

#img-construct {
	width: 900px;
	margin-left: 70px;
}

#img-gram {
	width: 300px;
	margin-left: 340px;
}

p, .longText li {
	/* formats text and lists within .longText */
	font-size: 16pt;
	line-height: 2;
	font-weight: 400;
}

.longText {
	/* fixes width of the text and displays it slighly left of center */
	width: 950px;
	margin-left: 50px;
	margin-right: auto;
}

#table-selector {
	/* formats the table containing nav elements to be centered, addes space on top / bottom */
	width: 100%;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
}

#table-selector th {
	/* makes each cell of nav evenly spaced */
	text-align: center; 
	width: 25%; /* modify when adding / deleting elements in nav */
}

th p {
	/* formats text inside table of navigational elements */
	/* makes cursor emulate a link to show it's clickable */
	font-size: 24pt;
	font-weight: 400;
	cursor: pointer;
	padding: 5px 0px 15px 0px;
	margin: 0 0 0 0;
}

th p:hover {
	/* makes links bold when hovered to show it is a link */
	font-weight: 800;
}

#table-selector {
	/* makes a single border between two cells rather than two */
    border-collapse: collapse;
}

/* creates a solid gray border between elements of navigational element */
.borderLeft {
	border-left: 2px solid #A8A8A8;
}

.borderRight {
	border-right: 2px solid #A8A8A8;
}

.borderBoth {
	border-left: 2px solid #A8A8A8;
	border-right: 2px solid #A8A8A8;
}

.borderRight {
	border-bottom: 4px solid #A8A8A8;
}


h4 {
	/* formats intratext section headings */
	font-size: 20pt;
	margin-top: 80px;
}


.blockText {
	/* initially hides all of the text on page */
	display: none;
}

#div-purpose {
	/* initially display only the 'purpose' */
	display: block;
}

.figure {
	/* fixes the width of images in results tables */
	width: 500px;
}

/* formats caption and heading of results tables */
td p {
	padding: 15px 0 15px 0;
	margin: 0 0 30px 0;
	font-size: 12pt;
	line-height: 1.5;
	width: 500px;
}

td h5 {
	padding: 0 0 15px 0;
	margin: 0 0 0 0;
	font-size: 16pt;
}

td {
	vertical-align: top;
}


#table-plating, #table-fluro, #table-loss {
	/* centers all tables on page and increase spacing above and below */
	margin-top: 70px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.centerText {
	/* formats table heading to be larger and centered*/
	margin-left: 35%;
	font-size: 18pt;
	margin-bottom: 15px;
}

#div-pic {
	/* sets the background image above the main text */
	padding-top: 30px;
	background-image: url("../img/iowis.jpg");
	padding-bottom: 30px;
	min-width: 1200px;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -8px;
}