/* Navbar and body setup */
body {
	font-family: 'Raleway', sans-serif;
	color: white;
	overflow-x: hidden;
}

#div-list {
	min-width: 1250px;
	max-width: 1250px;
}

nav {
	margin-top: -110px;
	font-size: 20pt;
	position: fixed;
	min-width: 1250px;
	background-color: #333;
	background-height: 
}

nav a {
	text-decoration: none;
	color: white;
}

nav ul {
	
	list-style: none;
	text-align: center;
}

nav ul li {
	display: inline;
	margin-right: 60px;
	text-shadow: -1.5px 1.5px .5px black;
}

#div-title {
	font-weight: 200;
	margin-top: 10px;
	margin-right: 0px;
}

/* Background of page */

html {
	background-color: #d8d8d8;
}

/* Start Page Specific CSS */

/* UMaryland */
h1 {
	font-size: 100pt;
	margin-top: 100px;
	margin-bottom: 40px;
	text-shadow: -3px 3px 1px black;
}

/* Project Name*/
h2 {
	font-size: 70pt;
	display: inline;
}

.red {
	color: red;
}

.green {
	color: green;
}	

/* Project Description */
h3 {
	margin-top: 40px;
	font-size: 30pt;
	font-weight: 200;
}

/* Images */

/* hok sok diagram */
#img-hoksok {
	position: absolute;
	left: 250px;
	top: 800px;
}

/* sets the background image */
#img-plasmid {
	position: absolute;
	z-index: -999;
	left: 0px;
	top: 0px;
	width: 1600px;
	height: 600px;
}