/* Navbar and body setup */
body {
	font-family: 'Raleway', sans-serif;
	color: white;
	overflow-x: hidden;
}

#div-list {
	min-width: 1250px;
	max-width: 1250px;
}

nav {
	min-width: 1250px;
	max-width: 1250px;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    line-height: 0px;
    font-size: 10pt;
    display: block;
    background: #842d2d;
    width: 100%;
	transition: all .5s ease;
} 

nav:hover{
	transition: all .5s ease;
	opacity: 1.0;
	font-size: 20pt;
	line-height: 20px;
}

nav a {
	text-decoration: none;
	color: white;
}

nav ul {
	list-style: none;
	text-align: center;
}

nav ul li {
	display: inline;
	margin-right: 60px;
	text-shadow: -1.5px 1.5px .5px black;
}

#div-title {
	font-weight: 200;
	margin-top: 10px;
	margin-right: 0px;
}

#bot-nav {
    background: #842d2d;
    position: absolute;
    width: 100%;
    height: 150px;
    left: 0;
    top: 2000px;
}

/* Background of page */

html {
	background-color: #d8d8d8;
}

/* Start Page Specific CSS */

/* UMaryland */
h1 {
	font-size: 100pt;
	margin-top: 100px;
	margin-bottom: 40px;
	text-shadow: -3px 3px 1px black;
}

/* Project Name*/
h2 {
	font-size: 70pt;
	display: inline;
}

.red {
	color: red;
}

.green {
	color: green;
}	

/* Project Description */
h3 {
	margin-top: 40px;
	font-size: 30pt;
	font-weight: 200;
}

/* Images */

/* hok sok diagram */
#img-hoksok {
	position: absolute;
	left: 250px;
	top: 800px;
	z-index: -999;
}

/* sets the background image */
#img-plasmid {
	position: absolute;
	z-index: -999;
	left: 0px;
	top: 0px;
	width: 1600px;
	height: 600px;
}