
/* Navbar and body setup */
body {	
	/* Enforces font on the entire page, colored black by default
	   Makes background off-white slightly to improve visibility with gray font */
	font-family: 'Raleway', sans-serif;
	color: black;
	background-color: #FEFFFA;
	min-width: 1200px;
	max-width: 1200px;
	overflow-x: hidden;
	margin-left: auto;
	margin-right: auto;
}

/* Navbar */
nav {
	min-width: 1200px;
    opacity: 1.0;
    position: fixed;
    top: 0;
    left: 0;
    line-height: 10px;
    font-size: 20pt;
    display: block;
    background: #d8d8d8;
    width: 100%;
} 

nav a {
	text-decoration: none;
	color: black;
	font-family: 'Exo', sans-serif;
}

nav ul {	
	list-style: none;
	text-align: center;
	transition: all .5s ease;
}

nav ul li {
	display: inline;
	margin-right: 20px;
}

/* Permanent bottom bar */
#bot-nav {
    background: #d8d8d8;
    position: absolute;
    width: 100%;
    height: 75px;
    left: 0;
    margin-top: 45px;
}

#bot-nav ul {
	margin-top: 25px;
	list-style: none;
	text-align: center;
}

#bot-nav li {
	display: inline;
	font-size: 20pt;
	color: black;
}

#bot-nav a {
	display: inline-block;
	vertical-align: middle;
	margin-top: -5px;
	text-decoration: none;
	font-size: 12pt;
	color: black;
	margin-right: 10px;
	margin-left: 10px;
}

#bot-nav li:hover {
	text-shadow: .5px .5px black;
}

/* Images */

/* Logo */
#img-logo {
	width: 150px;
	float: left;
	position: fixed;
	margin-top: 12px;
	margin-left: 65px;
	opacity: 1.0;
}

/* iGEM logo */
#img-igemlogo {
	width: 60px;
	float: right;
	position: fixed;
	margin-top: 10px;
	opacity: 1.0;
}

/* Classes */

/* Hides nav bar when scrolling */
.scrolled {
	font-size: 10pt;
	line-height: 0px;
}	

/* animation when mouse is over Navbar */
.hover {
	opacity: 1.0;
	font-size: 20pt;
	line-height: 10px;
}

/* Start Page Specific CSS */

h1 {							/* Centers the heading text on the page at different sizes */
	color: #6B6B6B;				/* makes the text centered and gray colored */
	font-size: 56pt;
	font-weight: 200;
	text-align: center;
	margin-top: 70px;
}

h2 {
	color: #6B6B6B;
	font-size: 28pt;
	font-weight: 200;
	text-align: center;
}

h3 {
	color: #545454;
	font-size: 20pt;
	font-weight: 400;
	text-align: center;
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
}


/* makes circles display horizontally at a fixed width, 
   turns div from rectangle to circle 					*/
.circle {
	display: inline-block;
	margin-right: 10px;
	width: 260px;
	height: 260px;
	overflow: hidden;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	color: white;
}

/* makes the actual image inside circle the same width as .circle */
.circle img {
	width:260px;
}

/* Triggers darkening of the image within .circle when hovered */
.circle img:hover {
	opacity: 0.4;
}

/* moves all circles down and centered on the page */
#div-circles {
	margin-top: 100px;
	margin-left: 70px;
}

/* Creates initially invisible text that overlay the circles, positioned over it */
.insideText {
	position: absolute;
	opacity: 0;
	z-index: 99999;
	margin-top: 55px;
	margin-left: 30px;
}

/* Formats the text inside the circles that show up when darkened */
h4 {
	font-size: 24pt;
	font-weight: 200;
	margin-bottom: 15px;
}

h5 {
	font-size: 14pt;
	font-weight: 200;
	margin-top: 15px;
}

/* Prevents the overlay text links from being blue and underlined */
#div-circles a {
	text-decoration: none;
	color: white;
}

