
/* Navbar and body setup */
body {	
	/* Enforces font on the entire page, colored black by default
	   Makes background off-white slightly to improve visibility with gray font */
	font-family: 'Raleway', sans-serif;
	color: black;
	background-color: #FEFFFA;
	min-width: 1100px;
	max-width: 1100px;
}

nav {
	/* Moves the top bar to be centered with the UMD logo, increases font size */
	margin-top: 50px;
	font-size: 20pt;
}

nav a {
	/* removes underlining of links by default, makes color of text grayish */
	text-decoration: none;
	color: #757575;
}

a:hover {
	/* when hovering over links, the text becomes bold to signify it can be clicked on */
	font-weight: 800;
}

nav ul {
	/* removes bullets in the list */
	list-style: none;
	text-align: right;
	padding-top: 30px;
}

nav ul li {
	/* makes list display horizontally, increases spacing with the left side */
	display: inline;
	padding-left: 40px;
}

#img-logo {
	/* fixes size of logo, makes the nav bar go to the right of the logo */
	width: 300px;
	float: left;
}

#div-text {
	/* Increases space between main content and the nav heading */
	padding-top: 40px;
}

#div-topbar {
	/* fixes the size of the heading to improve compatibility, centers on the page */
	margin-right: auto;
	margin-left: auto;
	min-width: 1280px;
	max-width: 1280px;
}

#div-border {
	/* create a smaller div that is centered, which has a gray bottom border
	   creates the shadow underneath border									 */
	margin-left: auto;
	margin-right: auto;
	min-width: 1200px;
	max-width: 1200px;
	border-bottom-style: solid;
	border-color: #A8A8A8;
	border-width: 2px;
	-webkit-box-shadow: -1px 15px 20px -15px rgba(50, 50, 50, 0.56);
	-moz-box-shadow:    -1px 15px 20px -15px rgba(50, 50, 50, 0.56);
	box-shadow:         -1px 15px 20px -15px rgba(50, 50, 50, 0.56);
}
/* Start Page Specific CSS */

h1 {							/* Centers the heading text on the page at different sizes */
	color: #6B6B6B;				/* makes the text centered and gray colored */
	font-size: 60pt;
	font-weight: 200;
	text-align: center;
}

h2 {
	color: #6B6B6B;
	font-size: 30pt;
	font-weight: 200;
	text-align: center;
}

h3 {
	color: #545454;
	font-size: 20pt;
	font-weight: 400;
	text-align: center;
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
}


/* makes circles display horizontally at a fixed width, 
   turns div from rectangle to circle 					*/
.circle {
	display: inline-block;
	margin-right: 15px;
	width: 300px;
	overflow: hidden;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	color: white;
}

/* makes the actual image inside circle the same width as .circle */
.circle img {
	width:300px;
}

/* Triggers darkening of the image within .circle when hovered */
.circle img:hover {
	opacity: 0.4;
}

/* moves all circles down and centered on the page */
#div-circles {
	margin-top: 100px;
	margin-left: 70px;
}

/* Creates initially invisible text that overlay the circles, positioned over it */
.insideText {
	position: absolute;
	opacity: 0;
	z-index: 99999;
	margin-top: 55px;
	margin-left: 30px;
}

/* Formats the text inside the circles that show up when darkened */
h4 {
	font-size: 24pt;
	font-weight: 200;
	margin-bottom: 15px;
}

h5 {
	font-size: 14pt;
	font-weight: 200;
	margin-top: 15px;
}

/* Prevents the overlay text links from being blue and underlined */
#div-circles a {
	text-decoration: none;
	color: white;
}

